@import "tailwindcss";
@config "../../tailwind.config.ts";

@utility our-mission {
  @apply md:py-[120px] py-[80px] flex flex-col gap-y-[44px];
}

@utility our-mission-header {
  @apply flex flex-col items-center gap-y-6;
}

@utility mission-title-text {
  @apply text-center text-black md:text-[48px] text-[24px] font-[600] md:leading-[56px] leading-[28px];
}

@utility mission-subtitle-text {
  @apply text-center md:text-[48px] text-[24px] font-[600] md:leading-[56px] leading-[28px] text-[#0B102980];
}

@utility mission-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@utility mission-card {
  position: relative;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 60px 70px 0 rgba(4, 70, 118, 0.149) !important;
}

.mission-card:nth-child(3n - 1) {
  top: 5rem;
}

@media (max-width: 768px) {
  .mission-card:nth-child(3n - 1) {
    top: 0;
  }
}

@utility mission-card-title-black {
  @apply md:text-[32px] text-[24px];
  color: rgba(11, 16, 41, 0.698);
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.25;
  text-align: left;
}
@utility mission-card-title-white {
  @apply md:text-[32px] text-[24px];
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.25;
  text-align: left;
}
@utility mission-card-subtitle-black {
  @apply md:text-[20px] text-[16px];
  color: rgba(11, 16, 41, 0.698);
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: left;
}
@utility mission-card-subtitle-white {
  @apply md:text-[20px] text-[16px];
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: left;
}

@utility mission-card-gradient-1 {
  background: linear-gradient(135deg, #ffffff, #f9fafb);
}
@utility mission-card-gradient-2 {
  background: linear-gradient(315deg, #8b5cf6, #7538f7, #9892fc);
  color: #fff;
}
@utility mission-card-gradient-3 {
  background: linear-gradient(-310deg, #1c2550, #5c71da);
  color: #fff;
}
